<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CyclePathFinder</title>
        <link rel="icon" type="image/x-icon" href="rueda.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='chat.css') }}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">UN LUGAR PARA RODAR</span>
                <span class="site-heading-lower">PATH FINDER</span>
            </h1>
        </header>
        
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">PATH FINDER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="index">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="mapa">Map</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="chat">Chat</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <section class = comentarios>
            <h1>Contenido Principal</h1>
            <p>Aquí está el contenido principal de tu página.</p>
        </section>
    
        <section class = comentarios>
            
            <h2>Deja tus comentarios</h2>
            
            <form action="/chat" method="post">
                <label for="nombre_chat" class="input-label">Nombre:</label>
                <input type="text" id="nombre_chat" name="nombre_usuario" class="input-field" placeholder="Tu nombre" required>
                
                <label for="comentario" class="input-label">Comentario:</label>
                <input type="text" id="comentario" name="comentario" class="input-field" placeholder="Escribe tu comentario" required>
                
                <button type="submit" class="search-button" id="enviar-comentario">Enviar Comentario</button>
            </form>
           
            <div class="comentarios-container">
                {% for comentario in comentarios %}
                    <div class="comentario">
                        <p class="nombre">{{ comentario.nombre_usuario }}:</p>
                        <p class="contenido">{{ comentario.comentario }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>


            <script>
                // Esta función carga y muestra los comentarios desde la base de datos
                function cargarComentarios() {
                    // Realiza una solicitud a tu ruta de Flask para obtener los comentarios
                    fetch('chat', { method: 'GET' })
                        .then(response => response.json())
                        .then(comentarios => {
                            const comentariosContainer = document.querySelector('.comentarios-container');
            
                            comentarios.forEach(comentario => {
                                const nuevoComentario = document.createElement('div');
                                nuevoComentario.classList.add('comentario');
                                nuevoComentario.innerHTML = `
                                    <p class="nombre">${comentario.nombre_usuario}:</p>
                                    <p class="contenido">${comentario.comentario}</p>
                                `;
            
                                comentariosContainer.appendChild(nuevoComentario);
                            });
                        })
                        .catch(error => console.error('Error al cargar los comentarios', error));
                }
            
                
                cargarComentarios();
            </script>















        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Aqui se supone que va informacion de contacto y cosas así, pero aja, yo no tengo nada que colocar</p></div>
        </footer>
        <script src="{{url_for('static', filename='app.js')}}"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
