{% extends "layout.html" %}

{% block content %}

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Cycle PathFinder</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur et est sed felis aliquet sollicitudin</p>
		<span>
			<p>lsocial media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true" style="font-size: 20px;"></i></a>
			<a href="#"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 20px;"></i></a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
		<br><br>
		
			
		<br>
		<p>Che pibe vos cuantas copas tenés <a href="#">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" placeholder="user name">
			<br>
			<input type="password" placeholder="password">
		</div>
			
			<br><br>
		
			
			<br>
			<button>Login</button>
	</div>
	
</div>
<!-- partial -->

{% endblock %}