{% extends "layout.html" %}

{% block content %}

<div class="box-form">
		 <div class="left">
			<div class="overlay">
				<h1>Route Finder</h1>
				<p>Te ayudaremos a encontrar tu lugar para rodar</p>
				<span>
					<p>Nuestras redes</p>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true" style="font-size: 20px;"></i></a>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 20px;"></i></a>
				</span>
			</div>
		 </div>

	<div class="right-container">
	<form method="POST" class="login-form">
			<br><br>
			<br>
			<h5>Ingresar</h5>
			<br><br>
			<br>
			<br><br>
			<br>
			<p>¿No tienes cuenta? <a href="/Registrar">¡Regístrate</a> <br> No te tomará ni un minuto!</p>
			<div class="inputs">
				<input type="text" placeholder="Usuario" id="usuario"> <!-- Agregamos el atributo name para identificar el campo de usuario -->
				<br>
				<input type="password" placeholder="Contraseña" id="password"> <!-- Agregamos el atributo name para identificar el campo de contraseña -->
			</div>
			<br><br>
			<br>
			<a class="btn btn-primary" onclick="get_usuario()"> iniciar sesion</a> <!-- Agregamos type="submit" para que el botón envíe el formulario -->
	</form> 
		</div>
</div>


{% endblock %}
