{% extends "layout.html" %}

{% block content %}

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Route Finder</h1>

		<p>Te ayudaremos a encontrar tu lugar para rodar</p>
		<span>
			<p>Nuestras redes</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true" style="font-size: 20px;"></i></a>
			<a href="#"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 20px;"></i></a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
            <br><br>
		
			
            <br>
		<h5>Registrar</h5>
		<br><br>
		
			
		<br>
        <br><br>
		
			
		<br>
		<p>¿Ya tienes cuenta? <a href="/">¡Inicia sesión</a> <br> te esperabamos!</p>
		<div class="inputs">
			<input type="text" placeholder="Usuario">
			<br>
			<input type="password" placeholder="Contraseña">
		</div>
			
			<br><br>
		
			
			<br>
			<button>Registrarse</button>
	</div>
	
</div>
<!-- partial -->

{% endblock %}