{% extends "layout.html" %}

{% block content %}

    <h1>CyclePathFinder</h1>
    <form action="">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Registrarse</h3>
            <p>Registrese con un usuario y contraseña</p>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="username">Su usuario</label>
            <input type="text" placeholder="Usuario" name="username" required>

            <br>
            <!-- Email -->
            <label for="username">Su correo electronico</label>
            <input type="text" placeholder="Email" name="mail" required>
           
            <br>

            <!-- Password -->
            <label for="pswrd">Su contraseña</label>
            <input type="password" placeholder="Contraseña" name="pswrd" required>


            <!-- Submit button -->
            <button type="submit">Registrarse</button>

            <!-- Sign up link -->
            <p class="register">¿Ya tienes cuenta?  <a href="/">Inicie sesión aquí!</a></p>

        </div>

    </form>




{% endblock %}